:root{
    --primario: #3b2d4c;
    --secundario: #FFFFFF;
    --terciario: #af8ae2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    max-height: 7vh;
}

main {
    height: 100%;
    background: linear-gradient(to bottom, #3b2d4c 0%, #FFFFFF 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

a {
    text-decoration: none;
}

.navegador {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    height: 7vh;
    background-color: var(--primario);
    padding: 1rem;
}
.navegador img {
    max-height: 7vh;
}

.links a{
    margin: 20px;
    color: var(--secundario);
    font-weight: 700;
    font-size: 1.1rem;
}

.links a:hover {
    color: var(--terciario);
}

#hero {
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primario);
    width: 78%;
    gap: 50px;
    padding: 16px;
    border-radius: 20px;
    border: 3px solid var(--terciario);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.7);
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 50%;
    color: var(--secundario);
    padding: 8px;
    
}

.hero-info h1 {
    font-size: 48px;
    width: 80%;
    font-weight: 800;
    min-width: 500px;
}

.hero-info p {
    font-size: 20px;
    width: 90%;
}

p > span {
    font-weight: 800;
}

.hero-info a, .boton {
    border-radius: 10px;
    font-size: 14px;
    color: var(--secundario);
    background-color: var(--terciario);
    padding: 8px 12px;
    width: 85px;
    
}

.text-info {
    margin-top: 40px;
    text-align: center;
    width: 85%;
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
}

.contenedor {
    max-width: 100%;
    margin-top: 40px;
    padding: 0;
}

.servicios, .contacto {
        
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.7);
}

.sombra {
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.servicios{
    background-color: var(--primario);
    width: 70%;
    gap: 50px;
    padding: 16px;
    border-radius: 20px;
    border: 3px solid var(--terciario);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.7);
    color: var(--secundario);
}

.encabezado {
    text-align: center;
    margin-bottom: 20px;
}

.encabezado h2 {
     font-size: 30px;
}

.servicios-conteiner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.servicio h3{
    color: var(--secundario);
    font-weight: normal;
    margin: 10px;
    font-size: 20px;
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio p{
    line-height: 1;
    align-items: center;
    text-align: center;
    margin: 10px;
    width: 300px;
}

.iconos {
    width: 120px;
    height: 120px;
    background-color: var(--terciario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
}

.contacto {
    background-color: var(--primario);
    width: 70%;
    gap: 50px;
    padding: 16px;
    border-radius: 20px;
    border: 3px solid var(--terciario);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.7);
    color: var(--secundario);
}

.formulario{
    background-color: var(--terciario);
    width: min(600px,100%);
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;   
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    color: var(--primario);
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}

.campo{
    margin-bottom: 10px;
    width: 100%;
}

.input-text {
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 5px;
}


.contenedor-campos {
    display: flex;
    gap: 10px;
    width: 100%;
}

footer {
    text-align: center;
    bottom: 0;
    padding: 20px;
}

@media (max-width: 1024px){
    .hero-card {
        display: flex;
        flex-direction: column;
        gap: 2px;  
    }
    .hero-info{
        width: 100%;
    }
    .hero-info h1 {
        font-size: 26px;
        width: 100%;
        font-weight: 800;
        min-width: 100px
    }
    .hero-info p {
        font-size: 20px;
        width: 90%;
    }
    .hero-img{
        order: -2;
    }
    .hero-info a {
        width: 200px;
        font-size: 20;
    }
    .servicios{
        text-align: center;
    }
    .encabezado {
        text-align: center;
        margin-bottom: 10px;
    }
    .servicios-conteiner {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .servicio p{
        line-height: 1;
        align-items: center;
        text-align: center;
        margin: 10px;
        width: 100%;
    }
    .contenedor-campos{
        display: block;
    }
}
