:root{
    --primario: #3b2d4c;
    --secundario: #FFFFFF;
    --terciario: #af8ae2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main {
    height: 100vh;
    background: linear-gradient(to bottom, #3b2d4c 0%, #FFFFFF 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

header {
    max-height: 7vh;
}

a {
    text-decoration: none;
}

.navegador {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    height: 7vh;
    background-color: var(--primario);
    padding: 1rem;
}
.navegador img {
    max-height: 7vh;
}

.links a{
    margin: 20px;
    color: var(--secundario);
    font-weight: 700;
    font-size: 1.1rem;
}

.links a:hover {
    color: var(--terciario);
}

#hero {
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primario);
    width: 78%;
    gap: 50px;
    padding: 16px;
    border-radius: 20px;
    border: 3px solid var(--terciario);
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 50%;
    color: var(--secundario);
    padding: 8px;
    
}

.hero-info h1 {
    font-size: 48px;
    width: 80%;
    font-weight: 800;
    min-width: 500px;
}

.hero-info p {
    font-size: 20px;
    width: 90%;
}

p > span {
    font-weight: 800;
}

.hero-info a {
    border-radius: 10px;
    font-size: 14px;
    color: var(--secundario);
    background-color: var(--terciario);
    padding: 8px 12px;
    width: 85px;
    
}

.text-info {
    margin-top: 40px;
    text-align: center;
    width: 85%;
}



